/* MenuBar.css */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.overlay-open {
    opacity: 1;
    pointer-events: all;
}

.menu {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100%;
    background-color: #fff;
    overflow-x: hidden;
    transition: right 0.3s ease;
    z-index: 1000;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    padding-top: 20px;
}

.menu-open {
    right: 0;
}

.menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.close-btn {
    cursor: pointer;
}

.menu-search {
    display: flex;
    padding: 10px 20px;
}

.menu-search input {
    background-color: #eeeeee;
    flex: 1;
    padding: 5px;
    outline: none;
    color: black;
    padding: 8px 5px;
}

.menu-search input::placeholder {
    color: black;
}

.menu-search button {
    background: none;
    border: none;
    cursor: pointer;
    background: red;
    padding: 0 10px;
    color: white;
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu ul li {
    padding: 10px 20px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
}

.menu ul li a {
    text-decoration: none;
    color: black;
}

.submenu {
    list-style-type: none;
    padding: 0;
    padding-left: 20px;
    display: none;
}

.submenu-open {
    display: block;
}

/* 
.event-main {
    position: relative;
}

.event-menu {
    padding: 10px;
    background: #000;
    text-align: center;
    border-radius: 10px;
    color: #fff;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 49.9%;
    translate: -50% -50%;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}


.event-main::after, .event-main::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 49.9%;
    background-image: conic-gradient(from var(--angle), transparent 70%, orange, white, green);
    translate: -50% -50%;
    z-index: 100;
    padding: 3px;
    border-radius: 10px;
    animation: 3s spin linear infinite;
}

.event-main::before {
    filter: blur(1.5rem);
    opacity: 0.5;
}

@keyframes spin {
    from {
        --angle: 0deg;
    }

    to {
        --angle: 360deg;
    }

}
 */


.box {
    /* width: ; */
    /* height: 50vmin; */
    min-width: fit-content;
    display: grid;
    place-content: center;
    color: white;
    text-shadow: 0 1px 0 #000;
    padding: 5px 10px;
    --border-angle: 0turn;
    --main-bg: conic-gradient(from var(--border-angle),
            #000068,
            #000068 5%,
            #000068 60%,
            #000068 95%);

    border: solid 3px transparent;
    border-radius: 10px;
    --gradient-border: conic-gradient(from var(--border-angle), transparent 50%, green, white, orange 99%, transparent);

    background:
        var(--main-bg) padding-box,
        var(--gradient-border) border-box,
        var(--main-bg) border-box;

    background-position: center center;

    animation: bg-spin 3s linear infinite;
}

@keyframes bg-spin {
    to {
        --border-angle: 1turn;
    }
}

.box:hover {
    animation-play-state: paused;
}

@property --border-angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0turn;
}




.news_card {
    /* min-width: fit-content; */
    /* display: grid; */
    /* place-content: center; */
    /* color: white; */
    /* text-shadow: 0 1px 0 #000; */
    /* padding: 5px 10px; */
    --border-angle: 0turn;
    --main-bg: conic-gradient(from var(--border-angle),
            #fff,
            #fff 5%,
            #fff 60%,
            #fff 95%);

    border: solid 3px transparent;
    border-radius: 10px;
    --gradient-border: conic-gradient(from var(--border-angle), transparent 50%, green, white, orange 99%, transparent);

    background:
        var(--main-bg) padding-box,
        var(--gradient-border) border-box,
        var(--main-bg) border-box;

    background-position: center center;

    animation: bg-spin 5s linear infinite;
}

@keyframes bg-spin {
    to {
        --border-angle: 1turn;
    }
}




.news_card:hover {
    animation-play-state: paused;
}

.news_card_1 {
    /* min-width: fit-content; */
    /* display: grid; */
    /* place-content: center; */
    /* color: white; */
    /* text-shadow: 0 1px 0 #000; */
    /* padding: 5px 10px; */
    --border-angle: 0turn;
    --main-bg: conic-gradient(from var(--border-angle),
            #1f2024,
            #1f2024 5%,
            #1f2024 60%,
            #1f2024 95%);

    border: solid 5px transparent;
    border-radius: 10px;
    --gradient-border: conic-gradient(from var(--border-angle), transparent 50%, green, white, orange 99%, transparent);

    background:
        var(--main-bg) padding-box,
        var(--gradient-border) border-box,
        var(--main-bg) border-box;

    background-position: center center;

    animation: bg-spin 5s linear infinite;
}

@keyframes bg-spin {
    to {
        --border-angle: 1turn;
    }
}

.news_card_1:hover {
    animation-play-state: paused;
}

@property --border-angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0turn;
}





.news_card_2 {
    /* min-width: fit-content; */
    /* display: grid; */
    /* place-content: center; */
    /* color: white; */
    /* text-shadow: 0 1px 0 #000; */
    /* padding: 5px 10px; */
    --border-angle: 0turn;
    --main-bg: conic-gradient(from var(--border-angle),
            #fff,
            #fff 5%,
            #fff 60%,
            #fff 95%);

    border: solid 3px transparent;
    border-radius: 10px;
    --gradient-border: conic-gradient(from var(--border-angle), #ffffff 10%, green, white, orange 99%, transparent);

    background:
        var(--main-bg) padding-box,
        var(--gradient-border) border-box,
        var(--main-bg) border-box;

    background-position: center center;

    animation: bg-spin 5s linear infinite;
}

@keyframes bg-spin {
    to {
        --border-angle: 1turn;
    }
}

.news_card_2:hover {
    animation-play-state: paused;
}


.news_card_3 {
    /* min-width: fit-content; */
    /* display: grid; */
    /* place-content: center; */
    /* color: white; */
    /* text-shadow: 0 1px 0 #000; */
    /* padding: 5px 10px; */
    --border-angle: 0turn;
    --main-bg: conic-gradient(from var(--border-angle),
            transparent,
            transparent 5%,
            transparent 60%,
            transpa 95%);

    border: solid 3px transparent;
    border-radius: 10px;
    --gradient-border: conic-gradient(from var(--border-angle), #ffffff 10%, green, white, orange 99%, transparent);

    background:
        var(--main-bg) padding-box,
        var(--gradient-border) border-box,
        var(--main-bg) border-box;

    background-position: center center;

    animation: bg-spin 5s linear infinite;
}

@keyframes bg-spin {
    to {
        --border-angle: 1turn;
    }
}

.news_card_3:hover {
    animation-play-state: paused;
}