/* usercss.css */
.user-list {
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-user-button {
  background-color: #000068;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.search-bar {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.search-input, .search-select, .search-button {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.search-button {
  background-color: #000068;
  color: white;
  cursor: pointer;
}

.table-container {
  margin-top: 20px;
  overflow-y: auto;
  height: 400px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.table th, .table td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: left;
}

.table th {
  background-color: #e10505;
}

.edit-button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}